<div>
    <<div>
        <div>
            <h2>Featured Pet</h2>
            <div class = "col-md-6 buttons">
                <a class = "links" href = "#favorites" role = "button"> Favorites</a>
            </div>
                <button ng-click="addAnimal()">Add to Favorite List</button>
                <p id="favCounter">Favorite Count: {{favorites.length}}</p>
        </div>
        <div ng-if="showAnimal == true">
            <div class="row">
                <div></div>
                <div>
                    <h2>{{animal.name.$t}}</h2>
                    <div ng-if= "favorite == true">
                        <p>Added to Favorites!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>{{animal.description.$t}}</p>
            </div>
        </div>
    </div>
</div>
